[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

setuptools = "*"


[packages]

pillow = "*"
tesserocr = "*"
scikit-image = "*"
matplotlib = "*"
toolz = "*"


[requires]

python_version = "3.6"
